:root {
    --primary-color: #FFEFCF;
    --secondary-color: #FF8B00;
}

/*Header styles*/

body {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    color: #444444;
}

.header,
.footer {
    height: 100px;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav ul {
    display: flex;
    text-decoration: none;
}

.nav-link {
    color: #444444;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:visited {
    color: #444444;
}

.nav-link:hover,
.contact-info-link:hover,
.project-link:hover {
    color: #000;
}

/*Main styles*/

.wrapper {
    display: flex;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--primary-color);
    
}

.photo {
    align-self: center;
    width: 70%;
    border-radius: 50%;
    margin: 40px;
}

.h1 {
    font-size: 2.5em;
    font-weight: 700;
    color:#000;
    margin: 10px 20px;
}

.position {
    font-size: 1.5em;
    font-weight: 700;
    color:var(--secondary-color);
    margin: 10px 20px 30px;
}

.about,
.contact-info {
    margin: 10px 20px 50px;
}

.sub-header {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--secondary-color);
    margin: 10px 0;
}

.contact-info-item {
    line-height: 2em;
}

.contact-info-link {
    color: #444444;
    text-decoration: none;
    margin-left: 15px;
}

/*Main styles*/

.main {
    width: 60%;
    background-color: #fffced;
}

.skills,
.code-example,
.projects,
.courses,
.languages {
    margin: 30px;
}

.projects-list {
    margin-left: 15px;
}

.projects-list li {
    color: var(--secondary-color)
}

.project-link {
    color: #444444;
    text-decoration: none;
}

/*Footer styles*/

.footer {
    justify-content: space-around;
}

.logo {
    width: 30px;
}

.rsschool-logo {
    width: 110px;
}
