/*Header*/
:root {
    --primary-color: #FFEFCF;
    --secondary-color: #FF7A00;
}

body {
    font-family: 'Playfair Display', serif;
}

.header {
    height: 100px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav ul {
    display: flex;
    text-decoration: none;
}

.nav-link {
    color: #444444;
    padding: 10px;
    text-decoration: none;
}

.nav-link:visited {
    color: #444444;
}

.nav-link:hover {
    color: #000;
}

